 :root{
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: Arial;
 }

 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 header{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
 }

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
 }

 header , main , footer {
    width: 840px;
    margin:0 auto;
 }

 h1 , h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
 }

 nav , p , section , article {
    margin: 16px;
    padding: 8px;

 }

a {
   text-decoration: none;
}

 .hero{
    position: relative;
    margin: 15px;
    padding: 8px;
 }

.hero img{
   display: block;
   width: 100%;
   height: auto;
}

 h1 {
    position: absolute;
    top: 20px;
    width:100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
 }

 .hero article img{
    position: absolute;
    float:right;
    width: 125px;
    margin: 10px 10px;
    align-content: center;
 }
.hero article{
    position:absolute;
 }

 .socialmedia {
   text-decoration: none;

 }

