*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 500px;
    margin: 1rem ;
    border: 2px solid rgb(0 0 0 / 10%);
    padding: auto;
    
}

h1 {
margin: 0.5rem;
}

form {
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 10%);
    max-width: 840px;
    padding: 1rem;
    background-color: rgb(200, 200, 220);
    color: #111;
}

input , textarea , select , button {
    padding: 0.75rem;
    width: 350px;

}

code {
    display: block;
    padding: 1 rem;
    background-color: #000;
    color : #fff;
}

.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}
button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    background-color:navy;
    color: white;
    border-radius: .5em;
    display: block;
}

button:hover {
  background-color: darkgreen;
}

