:root {
    --height : auto;
    --text-align : center;
    --margin: 1rem;
    --border : 1px solid rgb(0 0 0 /0.2%);
    --padding: 1rem;
    --background-color: #b1b1c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(60, 135, 234);
    padding: 10px;
}

nav a {
    color : white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img{
    width:150px;
    height: auto;
    border: #333;
    padding: 10px 15px;
    box-shadow: 0 0 5px 5px;
    float: right;

}
aside{
    width: 20rem;
    margin: var(--margin);
    border:var(--border);
    padding:var(--padding);
    background-color: var(--background-color);
    color:#333;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height);
}

h1 {
    color : darkblue;
}

aside h2 {
  position: absolute;
  top: 45px;
  left: 105px;
}

img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(128, 128, 128)
}

p {
    padding: 0;
}

footer {
    margin-top:15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
  margin: var(--margin);
  border: var(--border);
  padding: var(--padding);
  background-color: var(--background-color);
  color: #000;
}

