.callout {
   max-width: 400;
   margin: 10px;
   border: 1px solid rgb(0,0,0/0.1);
   padding: 15px; 
   background-color: rgb(22, 44, 77);
   color: #fff;
}

.callout img {
    float: right;
     margin: 0 0 10px 15px;
     border: 1px solid #fff;
     padding: 3px;
     background-color: #bbb;
     width: 100px;
     height: auto;	
}

blockquote {
    margin: 10px
	
}

cite {
    display: flex;
    border-top: 5px;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;

	
}